* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0a090c;
}

.painel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

.logodev {
  align-self: flex-start;
}

.logodev a img {
  width: clamp(0px, 10vw, 350px);
}

.logosm {
  margin: 0 auto;
  align-self: center;
}

.logosm img {
  width: clamp(800px, 60vw, 2400px);
}
